


<div class="container-fluid">
  
  <div class="row">

    <div class="col-md-2">
      <h2>
        <span><a href="/#!/prices/">Prices</a></span>
        <span ng-repeat="code in codes">
          | <a href='{{names[code].Path}}'>{{names[code].Name}}</a>
        </span>
      </h2>
    </div>

    <table>
      <tr>
        <td style="vertical-align: top;">
          <table>
            <tr ng-repeat="item in resp.IT">
                <td><a href="/#!/prices/{{resp.PA}}{{item.CO}}{{nextLive}}">{{item.NA}}</a></td>
            </tr>
          </table>
        </td>
        <td>
          <div style="height:200px; width:800px;">
            <canvas class="chart chart-line" chart-data="data" chart-series="series" chart-options="options"></canvas>
          </div>
        </td>
      </tr>
    </table>

  <div>
</div>

