/* app css stylesheet */

body {
  margin: 0px;
}


.view-container {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;

}

.left-navigation{
  padding: 10px;
  background-color: whitesmoke;
  border-spacing: 10px;
  border-style: solid;
  border-color: black;
}


.header{
    background-color: black;
    border-style: solid;
    border-bottom: thick solid #ffe123;
}

.header-image{
  height: 100px;
}

.price-group {
height:600px; 
width:800px;
 padding: 15px;
}

.instance-types{
height:600px; 
width:800px;
 padding: 15px;
}